.general {
    color:dodgerblue;

}
.outputField{
    text-align: left;
}
.outputField{
    position: center;
}
.chat1{
    text-align: center;
}
.send{
    margin-top: 50px;
}
.send2{
    margin-top: 50px;
}
